<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>
        <%= folderName %>
    </title>
    <link rel="stylesheet" href="../reveal.js/dist/reset.css">
    <link rel="stylesheet" href="../reveal.js/dist/reveal.css">
    <link rel="stylesheet" href="../reveal.js/dist/theme/black.css">
    <link rel="stylesheet" href="../reveal.js/plugin/highlight/monokai.css">
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <section class="downloads-section">
        <h2>Downloads</h2>
        <ul>
            <% presentations.forEach(function(presentation) { %>
                <li><a href="/presentaties/<%= presentation %>.pdf" download>
                        <%= presentation %>
                    </a></li>
                <% }); %>
        </ul>
    </section>
    <div class="reveal">
        <div class="slides">
            <section data-markdown>
                <!-- browser rendert templates niet, maar ze blijven wel beschikbaar -->
                <script type="text/template">
                    <%- markdownContent %>
                </script>
            </section>
        </div>
    </div>
    <script src="./node_modules/reveal.js/dist/reveal.js"></script>
    <script src="./node_modules/reveal.js/plugin/notes/notes.js"></script>
    <script src="./node_modules/reveal.js/plugin/markdown/markdown.js"></script>
    <script src="./node_modules/reveal.js/plugin/highlight/highlight.js"></script>
    <script src="./node_modules/reveal.js-mermaid-plugin/plugin/mermaid/mermaid.js"></script>
    <script src="./pdf.js"></script>
    <script>
        Reveal.initialize({
            hash: true,
            disableLayout: true,
            plugins: [RevealMarkdown, RevealHighlight, RevealNotes, RevealMermaid, PdfExport],
            pdfExportShortcut: 'E',
        });
    </script>
    <script src="./mermaid-component-text-scaling.js"></script>
</body>

</html>